{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST">
        <h3>Pessoa</h3>
        <hr>
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-3">
                {{ form.nome|as_crispy_field }}
            </div>
            <div class="col-12 col-md-3">
                {{ form.idade|as_crispy_field }}
            </div>
            <div class="col-12 col-md-3">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-12 col-md-3">
                {{ form.cc|as_crispy_field }}
            </div>
        </div>
        <br>
        <button class="btn btn-outline-primary" type="submit">Guardar</button>
        <a class="btn btn-outline-danger" href="{% url 'pessoa:lista' %}">Voltar</a>
    </form>
</div>
{% endblock %}
